* {
    padding: 0;
    margin: 0;
    max-width: 1366px;
}

a {
    text-decoration: none;
    font-family: Arial;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
a:hover{
    color: black;
    background: dimgray;
}
ul {
    list-style: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    word-spacing: 20px;
}

.header {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    margin-bottom: 50px;
}

.logo h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: black;
    margin-left: 50px;
}

.logo h1 span {
    font-weight: normal;
    display: block;
}

.menu ul li {
    display: inline-block;
}
.content{
margin-left: 50px;
}
.data {
font-family: Arial,sans-serif;
}
.photo {
margin-bottom: 50px;
margin-right: 50px;
float: left;
}
.photo1 {
    margin-bottom: 50px;
    margin-right: 50px;
    float: left;
}
.photo2 {
    margin-bottom: 50px;
    margin-left: 50px;
    float: right;

}
.footer p {
    font-family: Arial,sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 50px;
    clear: both;
   padding: 50px;
}
.footer p:hover {
    color: black;
    background: dimgray;
}
.data h3 span{
    font-weight: normal;
    justify-content: space-between;
    text-decoration: none;
    font-family: Arial;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.data ul li {
    display: inline-block
}
.descr {
    text-align: left;
}
.descr ul li {

    display: inline-block
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
    float: left;
}

